

.header{
  display: flex;
  &__profile{
    display: flex;
    justify-content: space-between;
    margin: 2em;
    img{
      width: 35%;
      margin-bottom: 2%;
    }
  }
  &__profileimage{
    display: inline-block;
    padding: 1%;
  }

  &__img{
  }

  &__button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

}

.img-fondo{
  width: 100%;
  height: 300px;
  background-image: url('../images/image-banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

@media (max-width: 576px) {

  .img-fondo{
    width: 100%;
    height: 100px;
    background-image: url('../images/image-banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }
}


.section-videos{
p{
  color: gray;
}

}
